<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <title>JOKY</title>
</head>
<body>
    <div class="container">
        <div class="icon-container">
            <img src="\images\kidding.png" alt="JOKY Icon" class="top-icon">
        </div>
        <h1><%= setup %></h1>
        <h2><%= delivery %></h2>
        <button onclick="window.location.reload();">Get Another Joke</button>
    </div>
    <footer>
        &copy; 2024 JOKY. All rights reserved.
    </footer>
</body>
</html>
